@font-face {
  font-family: "iconfont"; /* Project id 5054483 */
  src: url('iconfont.woff2?t=1761899616963') format('woff2'),
       url('iconfont.woff?t=1761899616963') format('woff'),
       url('iconfont.ttf?t=1761899616963') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renwurili:before {
  content: "\e6db";
}

.icon-05renwuguanli-renwurili-2:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-dianhua1:before {
  content: "\e6d8";
}

.icon-xingbie-nan:before {
  content: "\e6a3";
}

.icon-xingbie-nv:before {
  content: "\e6a4";
}

.icon-up1:before {
  content: "\e6a6";
}

.icon-shangsheng:before {
  content: "\e6a7";
}

.icon-nianling:before {
  content: "\e6a5";
}

.icon-xiangmu:before {
  content: "\e6a8";
}

